.card_1 {
    margin: 3rem 10rem;
    display: flex;
    justify-content: center;
}

.card_1 p {
    padding: 0.1rem 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    border-right: 1px solid black;
}

em {
    font-style: normal;
    color: black;
    font-size: 2rem;
}

.card_1 p.death {
    border-right: none;
    
}

.card_2 {
    margin: 3rem 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    border-radius: 0.5rem;
    color: rgba(0, 0, 0, 0.9);
    margin: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.box img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.box p {
    padding-left: 1rem;
}

.box_em {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: sans-serif;
}

@media all and (max-width: 1000px) {

    .card_1 {
        display: flex;
        flex-wrap: wrap;
    }

    .card_1 p{
        border-right: none;
        display: grid;
        
    }
}